* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
}

header {
    height: 9vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
    float: left;
    -webkit-box-shadow: 0px 3px 5px 0px rgb(231, 226, 231);
    box-shadow: 0px 3px 5px 0px rgb(231, 226, 231);
    position: relative;
    z-index: 2;
}

.links a {
    color: #242424;
    text-decoration: none;
    user-select: none;
    font-size: 20px;
    transition: all 0.5s;
}

.links ul {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    gap: 60px;
    list-style-type: none;
}

.links a:hover {
    color: #FCA60F;
}

main {
    padding: 20vh 10vw;
}

main h1 {
    font-size: 35px;
    max-width: 570px;
    position: relative;
    z-index: 1;
    top: 100px;
}

.botão {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 25px;
    width: 300px;
    height: 60px;
    background-color: #FCA60F;
    margin-top: 30px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    top: 480px;
}

.botão:hover {
    border: solid 1px #FCA60F;
    background-color: #242424;
    transition: all .5s;
}

main a {
    text-decoration: none;
}

.redesSociais {
    position: absolute;
    z-index: 1;
    top: 68vh;
    left: 10.5vw;
}

.copo {
    position: absolute;
    top: 28vh;
    right: 100px;
    z-index: 1;
}

.forma1 {
    position: absolute;
    top: 20vh;
    left: 0;
    z-index: 0;
}

.forma2 {
    position: absolute;
    top: 8vh;
    right: 0;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 275px;
}

.mouse {
    width: 40px;
    height: 40px;
}

/* Tablets */

@media screen and (max-width: 768px) {
    main h1 {
        max-width: 350px;
    }
    .botão {
        top: 500px;
    }
    footer {
        display: none;
    }
}

/* Celulares */

@media screen and (max-width: 600px) {
    header {
        justify-content: center;
        flex-direction: column;
        height: 15vh;
    }
    .links a {
        font-size: 15px;
    }
    .links ul {
        gap: 30px;
    }
    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    main h1 {
        font-size: 17px;
        max-width: 250px;
        text-align: center;
        top: -4vh;
    }
    .forma1 {
        max-width: 180px;
    }
    .forma2 {
        max-width: 150px;
        top: 54vh;
    }
    .copo {
        display: none;
    }
    .redesSociais {
        top: 93vh;
        left: 40vw;
    }
    .botão {
        height: 40px;
        width: 200px;
        font-size: 15px;
        top: 45vh;
    }
}